a {
    
    
    text-decoration: none;
    background-color: green;
    padding: 10px;
}   
div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    
    
}
a {
    place-self: start end;
}