h1 {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 500px 500px 300px;
    gap: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}

div {
    display: grid;
    
    justify-content: space-around;
    place-content: ;
    background-color: #f7f7f7;
    border: 10px solid #fefefe;
    
    
    
}
h2 {
    margin-top: 0px;
    padding: 10px;
}
p {
    margin-left: 10px;
}
a {
    text-decoration: none;
    background-color: green;
    padding: 10px;
}   